.ingredient-detail{

}

.ingredient-detail-page .top-bar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.top-bar .back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-left: 3vw;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: .1rem solid black;

}

.top-bar .ingredient-name {
    margin-left: 2rem;
    align-self: flex-end;
    font-size: 1.5rem;
}
.ingredient-detail {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ingredient-detail .ingredient-img {
    margin-top: 2rem;
    max-width: 80%;
    height: auto;
    border-radius: .8em;
}

.selling-info {
    margin-top: 2rem;
    max-width: 80%;
}

.ingredient-info {
    display: inline-block;
    margin-left: 6vw;
    height: 4.5rem;
    align-items: center;
    vertical-align: top;
}

.selling-info .profile-picture {
    display: inline-block;
    height: 10vw;
    width: 10vw;
    margin-left: 0;
    align-items: center;
    vertical-align: top;
    background-color: lightgrey;
    border-radius: 1.5rem;
}

.ingredient-info .name-wrapper {
    font-size: 1.3rem;
}

.ingredient-info .number-wrapper {
    font-size: .5rem;
}

.location-info {
    margin-top: 1rem;
    display: flex;
}

.location-info .location-icon{
    width: 1rem;
    font-size: 1rem;
}

.location-info .location-wrapper {
    margin-left: .2rem;
    font-size: .7rem;
}

.expiration-info {
    display: flex;
    flex-wrap: wrap;
}

.expiration-info .time-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    font-size: .9rem;
}
.expiration-info .expiration-wrapper {
    margin-left: .2rem;
    font-size: .7rem;
}

.selling-info {
    width: 70vw;
}

.selling-info .description {
    margin-top: 3rem;
}

.description .ingredient-discription {   
    margin-top: .8rem;
    font-size: .6rem
}

.ingredient-hashtags {
    display: flex;
    flex-wrap: wrap;
    margin-top: .5rem;
    gap: 10px; 
    font-size: .5rem;
  }
  
  .ingredient-hashtags .hashtag {
    flex: 0 1 auto;
    margin: 0;
    white-space: nowrap;
  }
 
  .comment-section {
    margin-top: 3rem;
  }

  .comment-section .sending-comment {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70vw;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .sending-comment .profile-picture {
    display: inline-block;
    height: auto;
    width: 8%;
    margin-left: 0;
    align-items: center;
    vertical-align: top;
    background-color: lightgrey;
    border-radius: 1.5rem;
  }

  .sending-comment .comment-form {
    width: 60%;
  }

  .sending-comment .comment-form .compose-comment {
    border-radius: .5rem;
    color: gray;
    width: 100%;
  }

  .sending-comment .send-button {
    display: inline-block;
    margin-right: 0;
    font-size: 1em;
    border-radius: 1rem;
    background-color: lightgray;
    border: 1px solid black;
  }

  .comment-section .user-comments {
    display: flex;
    margin-top: 2rem;
    width: 70vw;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: .7rem;
    font-weight: bold;
  }