.log-in {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .log-in .div {
    background-color: #ffffff;
    height: 852px;
    position: relative;
    width: 393px;
  }
  
  .log-in .login-page {
    height: 106px;
    left: 62px;
    position: absolute;
    top: 194px;
    width: 275px;
  }
  
  .log-in .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 270px;
  }
  
  .log-in .overlap-group {
    height: 40px;
    left: 1px;
    position: absolute;
    top: 66px;
    width: 270px;
  }
  
  .log-in .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 270px;
  }
  
  .log-in .line {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 11px;
    width: 93px;
  }
  
  .log-in .img {
    height: 1px;
    left: 177px;
    object-fit: cover;
    position: absolute;
    top: 11px;
    width: 93px;
  }
  
  .log-in .post-meal-invite {
    height: 37px;
    left: 62px;
    position: absolute;
    top: 572px;
    width: 271px;
  }
  
  .log-in .overlap {
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
    border-radius: 72px;
    height: 37px;
    position: relative;
    width: 269px;
  }
  
  .log-in .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 34px;
    left: 83px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 101px;
  }
  
  .log-in .username-input {
    height: 58px;
    left: 63px;
    position: absolute;
    top: 325px;
    width: 270px;
  }
  
  .log-in .overlap-2 {
    border-radius: 10px;
    height: 58px;
    position: relative;
    width: 268px;
  }
  
  .log-in .text-wrapper-5 {
    color: #bfbfbf;
    font-family: "Mallanna-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 28px;
    left: 24px;
    letter-spacing: 0;
    line-height: 27.6px;
    position: absolute;
    top: 14px;
    white-space: nowrap;
  }
  
  .log-in .rectangle {
    border: 1px solid;
    border-color: #000000;
    border-radius: 10px;
    height: 58px;
    left: 0;
    position: absolute;
    top: 0;
    width: 268px;
  }
  
  .log-in .password-input {
    height: 58px;
    left: 63px;
    position: absolute;
    top: 409px;
    width: 270px;
  }
  
  .log-in .div-wrapper {
    border: 1px solid;
    border-color: #000000;
    border-radius: 10px;
    height: 58px;
    position: relative;
    width: 268px;
  }
  
  .log-in .text-wrapper-6 {
    color: #bfbfbf;
    font-family: "Mallanna-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 28px;
    left: 23px;
    letter-spacing: 0;
    line-height: 27.6px;
    position: absolute;
    top: 13px;
    white-space: nowrap;
  }
  
  .log-in .text-wrapper-continue {
    color: #898989;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 11px;
    font-weight: 400;
    left: 132px;
    letter-spacing: 0.22px;
    line-height: normal;
    position: absolute;
    text-shadow: 0px 4px 4px #00000040;
    top: 623px;
    white-space: nowrap;
  }
  
  .log-in .component {
    left: 286px !important;
    position: absolute !important;
    top: 14px !important;
    width: 96px !important;
  }
  
  .log-in .login-button-instance {
    left: 24px !important;
    width: 49px !important;
  }
  