.register-button-in-login {
  display: flex;
  background-color: lightgrey;
  color: black;
  width: 20vw;
  height: 8vw;
  text-decoration-line: none;
  text-align: center;
  font-size: 4vw;
  border-radius: .5em;
  margin-left: auto;
  margin-right: 2vw;
  margin-top: .5rem;
  border: none;
  justify-content: center;
  align-items: center;
}

.register-button-in-login:hover {
  background-color: grey;
}

.auth-form-container {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: flex;
  margin-top: 15vh;
}

.login-display {
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 1.5rem; /* Space below the title */
  margin-top: 23h;
  width: 70vw;
}

.login-display .text-wrapper-wastewise {
  white-space: nowrap;
  font-size: 10vw;
  font-size: bold;
}

.login-display .text-wrapper-login {
  display: inline-block;
  font-size: 5vw;
}

.login-display .login-group {

}
.login-form {
  display: flex;
  flex-direction: column;
  width: 70vw; /* Reduce width for better alignment */
  margin: auto;

}

.input-wrapper-login {
  display: flex;
  align-items: center;

}

.input-field-login {
  display: flex;
  align-items: center;
  width: 100%; /* Match width of label indentation */
  padding: 15px; /* Padding for better appearance */
  margin-bottom: 15px;
  font-size: 1em;
  border: .05em solid black; /* Border for input */
  border-radius: .7em; /* Rounded corners for input */
}

.login-button-login-page {
  display: flex;           
  justify-content: center; 
  align-items: center;     
  text-align: center;
  color: black;
  background-color: lightgray;
  height: 2rem;
  width: 70vw;
  border-radius: 2em;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  text-decoration: none;
  margin-top: 10vh;
}

.login-button-login-page:hover {
  background-color: grey;
}

.text-wrapper-continue-login {
  display: block;
  color: grey;
  text-decoration: none;
  text-shadow: .1em .1em .4em grey;
  text-align: center;
  margin-top: .7rem;
  font-size: 3vw;
  
}
