.login-button {
    background-color: lightgrey;
    color: black;

    text-decoration-line: none;
    text-align: center;
    font-size: 1em;
    border-radius: .5em;
    margin-left: auto;
    margin-right: 2em;
    margin-top: 1em;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em 0.5em;
}

.login-button:hover {
    background-color: grey;
}
