

.post-flow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
  }

@media (max-width: 300px) {
    .post-block {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        height: clamp(34vh, 30vw, 45vh);
    }
}
@media (min-width: 300px){ 
    .post-block {
        width: calc(50% - 10px);
        margin-bottom: 10px;
        /* min-height: 40vw; */
        height: clamp(70vw, 70vw, 70vw);

    }
}
@media (min-width: 350px){ 
    .post-block {
        width: calc(50% - 10px);
        margin-bottom: 10px;
        /* min-height: 40vw; */
        height: clamp(60vw, 60vw, 60vw); 
    }
}
@media (min-width: 500px){
    .post-block {
        width: calc(50% - 10px);
        margin-bottom: 10px;
        /* max-height: 45vw; */
        height: clamp(50vw, 50vw, 50vw); 

    }
}
@media (min-width: 600px){
    .post-block {
        width: calc(33% - 10px);
        margin-bottom: 10px;
        max-height: 40vw;
        /* height: clamp(50vw, 50vw, 50vw);  */
    }
}
@media (min-width: 900px){
    .post-block {
        width: calc(33% - 10px);
        margin-bottom: 10px;
        max-height: 30vw;
    }
}
@media (min-width: 1100px){
    .post-block {
        width: calc(25% - 10px);
        margin-bottom: 10px;
        min-height: 20vw;
        /* height: clamp(30vh, 10vw, 40vh);  */
        max-height: 25vw;
    }
}
@media (min-width: 1500px){
    .post-block {
        width: calc(20% - 20px);
        margin-left: 10px;
        margin-right: 2px;
        margin-bottom: 15px;
        height: clamp(30vh, 10vw, 45vh); 
        /* background-color: aquamarine; */
        /* max-height: 10px; */
        height: clamp(10vw, 50vh, 20vw); 
        min-height: 10vw;
        max-height: 20vw;

    }
}



/*.post-block:nth-child(odd) {
    margin-right: 20px;
}

.post-block:nth-child(even) {
    margin-left: 20px;
} */



