.post-flow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 100px;
}

.post-block {
    width: calc(50% - 10px);
    margin-bottom: 10px;
}

/*.post-block:nth-child(odd) {
    margin-right: 20px;
}

.post-block:nth-child(even) {
    margin-left: 20px;
} */

/* @media screen and (max-width: 768px) {
    .post-block {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
} */


