.Navigation-Bar{
    justify-content: space-around;
    display: flex;
    padding: 1rem;
    background-color: lightgrey;
    width: 100%;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
}

.login-button {
    position: absolute;
    margin: 10px;
    top: 0;
    right: 0;
}

